/* Amatic SC */
@font-face {
  font-family: 'Amatic SC';
  src: url('../fonts/Amatic SC/AmaticSC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Oswald */
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/Oswald-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/Oswald-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Open Sans */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open Sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



@media only screen and (max-width: 768px) {
  .no-mobile {
    visibility: hidden;
  }
}


@media only screen and (max-width: 768px) {

  .h1-mobile {
    font-size: 30px;
  } 
  .h3-mobile {
    font-size: 16px; line-height: 1.1;
  }
  .p-mobile {
    line-height: 1.2;
  }

}

.p-mobile {
    position: relative;
    z-index: 10;
  }